$ocho_amarillo: #fdd109


@import index_responsive

.off-canvas-wrapper
    background-color: $ocho_amarillo

#first-row, #second-row
    background-color: $ocho_amarillo

#offCanvas 
    background-color: $ocho_amarillo
    form 
        margin-top: 50%
        padding-left: 5%
        padding-right: 5%
        textarea
            height: 150px
        button 
            background-color: black
            color: $ocho_amarillo
            &:hover
                box-shadow: 1px 2px 5px 4px black;
                transition: box-shadow 0.2s ease-in-out

.section
    height: 100vh

#first-row
    height: 20vh
    #sn-col-container
        padding-top: 4%
        padding-right: 5%
        .sn-col
            text-align: center
            position: relative
            height: 120px !important
            padding-left: 0
            padding-right: 0
            padding-top: 2%
            .white-circle
                width: 10px
                height: 10px
                background-color: white
                border-radius: 50%
                position: absolute
            .left-0
                left: 0
            .right-0
                right: 0
            .top-0
                top: 0
            .bottom-0
                bottom: 0
            .sn-container
                .sn-link
                    position: relative
                    z-index: 2
                    .sn-icon
                        text-align: center
                        width: 75%
                    &:hover + .description
                        visibility: visible
                .description
                    color: black
                    font-size: 11px
                    padding-right: 10%
                    padding-left: 10%
                    visibility: hidden
             


#second-row
    height: 60vh
    padding-bottom: 7%
    #logo-col
        padding-right: 0
        padding-left: 0
        .ocho-logo
            width: 65%
    #slogan-col
        .ocho-slogan
            width: 32%
            position: absolute
            top: 22%
            right: 23%
            z-index: 1



#third-row
    height: 20vh
    padding-top: 1%
    background-color: white
    .gif-col
        display: block
        padding-left: 0
        padding-right: 0
        .decoration
            width: 28%
        .service-link
            .service-gif
                width: 35%
        .decoration, .service-gif
            display: inline-block
    .large-2
        .service-link  
            .service-gif
                width: 45%
