@mixin generate-padding-classes($measure) {
  $unit: 0px;
  @if($measure == 'px'){
    $unit: 0px;
  }
  @if($measure == 'percent'){
    $unit: 0%;
  }
  @for $i from 1 through 100 {
    ._padding-top-#{$i}-#{$measure}{
      padding-top: $i + $unit;
    }
    ._padding-bottom-#{$i}-#{$measure}{
      padding-bottom: $i + $unit;
    }
    ._padding-left-#{$i}-#{$measure}{
      padding-left: $i + $unit;
    }
    ._padding-right-#{$i}-#{$measure}{
      padding-right: $i + $unit;
    }
    ._padding-#{$i}-#{$measure}{
      padding: $i + $unit;
    }
  }
}
@mixin generate-margin-classes($measure) {
  $unit: 0px;
  @if($measure == 'percent') {
    $unit: 0%;
  }
  @if($measure == 'px') {
    $unit: 0px;
  }
  @for $i from 1 through 100 {
    ._margin-top-#{$i}-#{$measure}{
      margin-top: $i + $unit;
    }
    ._margin-bottom-#{$i}-#{$measure}{
      margin-bottom: $i + $unit;
    }
    ._margin-left-#{$i}-#{$measure}{
      margin-left: $i + $unit;
    }
    ._margin-right-#{$i}-#{$measure}{
      margin-right: $i + $unit;
    }
    ._margin-#{$i}-#{$measure}{
      margin: $i + $unit;
    }
  }
}
