$icomoon-font-path: "fonts/8cho-studio" !default;

$icon-instagram: "\e900";
$icon-behance: "\e901";
$icon-contact: "\e902";
$icon-grafica-1: "\e904";
$icon-grafica-2: "\e905";
$icon-grafica-3: "\e906";
$icon-grafica-4: "\e907";
$icon-grafica-5: "\e908";
$icon-grafica-6: "\e909";
$icon-logo: "\e90a";
$icon-services: "\e90b";
$icon-vimeo: "\e90c";
$icon-facebook: "\e90d";
